/* Contenedores generales */
.container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

/* Títulos de contenedores */
.container h2 {
    font-size: 1.5rem;
    color: #4a90e2;
    margin-bottom: 15px;
}

/* Botones ajustados */
button {
    background: #4a90e2;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    margin: 10px 5px;
}

button:hover {
    background: #357abd;
    transform: scale(1.05);
}

/* Inputs estilizados */
input[type="file"],
input[type="range"] {
    width: 100%;
    margin: 10px 0 20px 0;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4a90e2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="range"] {
    appearance: none;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer;
}

#history-container {
    border: 2px dashed #ddd;
    padding: 20px;
    background-color: #f9f9f9;
}


.card {
    margin-bottom: 1.5rem;
    background-color: #357abd;
    transition: all .5s ease-in-out;
    position: relative;
    border-radius: 2px;
    border: 1px solid #4a90e2;
    box-shadow: none;

    .card-body {
        padding: 1.25rem;
    }

    .card-title {
        font-size: 18;
        font-weight: bold;
        text-transform: capitalize;
    }

    .card-header {
        border-color: #4a90e2;
        position: relative;
        background: transparent;
        padding: 1rem 1.25rem 1rem;

        .card-title {
            margin-bottom: 0rem;
        }

        .subtitle {
            padding-top: 0.3125rem;
            font-size: 0.875rem;
            line-height: 1.5;
        }
    }

    .card-footer {
        border-color: #357abd;
        background: transparent;
        padding: 1rem 1.25rem 1rem;
    }
}