<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahorro de tiempo</title>
    <script src="/static/script.js" defer></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1>PhotoEdit</h1>
    </header>

    <main>
        <input type="file" id="imageUploader" accept="image/*">
        <br><br>
        <img id="originalImage" style="max-width: 300px;">
        <br><br>

        <label for="brightness">ajustar brillo:</label>
        <input type="range" id="brightness" min="0.5" max="3.0" step="0.1" value="1.5">
        <br><br>

        <img id="cropImage" style="max-width: 100%; display: none;">
        <button id="applyCrop" style="display: none;">Aplicar recorte</button>
        </div>


        <img id="processedImage" style="max-width: 300px;">
        <br><br>

        <button id="saveImage">Guardar</button>
    </main>
    <script>
        let currentImage = null;
        let brightness = 1.2;

        document.getElementById('imageUploader').addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    currentImage = e.target.result;
                    updateImage();
                };
                reader.readAsDataURL(file);
            }
        });

        document.getElementById('brightness').addEventListener('input', function () {
            brightness = this.value;
            updateImage();
        });

        function updateImage() {
            if (currentImage) {
                const processedImageElement = document.getElementById('processedImage');
                processedImageElement.src = '';

                fetch('/process_image', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        image: currentImage,
                        brightness: brightness
                    })
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error processing image');
                        }
                        return response.json();
                    })
                    .then(data => {
                        processedImageElement.src = data.processed_image;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        processedImageElement.alt = 'Error processing image';
                    });
            } else {
                alert('Please upload an image before adjusting brightness.');
            }
        }


        document.getElementById('saveImage').addEventListener('click', function () {
            const link = document.createElement('a');
            link.href = document.getElementById('processedImage').src;
            link.download = 'processed_image.jpg';
            link.click();
        });
    </script>
</body>

</html>